body{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.grid {
   background-color: #ddd;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(11,auto);
   gap:5px 5px;
 }
 div div{
   padding: 5px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   position: relative;
 }
 div div::before{
   content: "";
   width: 100%;
   height: 3px;
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: rgb(255, 122, 74);
 }
 div div::after{
   content: '"';
   font-size: 50px;
   position: absolute;
   bottom: -20px;
   right: 7px;
   color: lightgrey;
   rotate: 15deg;
 }

 .one{
   grid-area: 1/1/4/3;
   color:black;
   background-color: white;
 }
 .two{
   grid-area: 1/3/4/3;
   color:black;
   background-color: white;
 }
 .three{
   grid-area: 1/4/10/5;
   color: white;
   background-color: black;
 }
 .four{
  grid-area: 4/1/10/2;
  color:black;
   background-color: white;
 }
 .five{
   grid-area: 4/2/7/4;
   color: white;
   background-color: black;
 }
 .six{
   grid-area:7/2/10/4 ;
   color:black;
   background-color: white;
 }
 .seven{
   grid-area: 10/1/12/2;
   color:black;
   background-color: white;
 }
 .eight{
   grid-area:10/2/12/3 ;
   color: white;
   background-color: black;
 }
 .nine{
   grid-area: 10/3/12/4;
   color:black;
   background-color: white;
 }
 .ten{
   grid-area: 10/4/12/5;
   color:black;
   background-color: white;
 }
 h5{
   margin: 0;
    padding:0;
     color: lightgrey;
 }
h3{
   margin: 5px 0;
}
